.margin5{
  margin:5px;
}
.margin10{
  margin:10px;
}
.margintop25{
  margin-top:25px;
}
.margintopbottom25{
  margin-top:25px;
  margin-bottom:25px;
}
.width100{
  width: 100%;
}
.heigth100{
  height: 100px;
}
.width50{
  width: 50%;
}
.width25{
  width: 25%;
}
.fondoCabecera{
  background: #330000;
}
.fondoItem{
  background: #f5b3b3;
}
.fondoMenu{
  background: #D64937;
}
.textoSalmon{
  color: #D64937;
}
.textoMarron{
  color: #330000;
}
h1{
  color:#330000;
}
.textoBlanco{
  color: white;
}
.boton{
  text-decoration: none;
  background: #D64937;
  color: white;
  font-weight: bold;
}
.boton:hover{
  text-decoration: none;
  background: #330000;
  color: white!important;
}
.boton2:hover{
  text-decoration: none;
  background: #D64937;
  color: white;
  font-weight: bold;
}
.boton2{
  text-decoration: none;
  background: #330000;
  color: white!important;
}
.textoMenu{
  text-decoration: none;
  color:white!important;
  font-size: 18px;
  font-weight: bold;
}
.textoMenu:hover{
  text-decoration: none;
  background: white!important;
  color:#D64937!important;
}
.borde{
    border: 1px solid #330000!important;
    border-radius: 2;
}
#logo{
  margin-left: 50px;
}
.stars{
	/* Espacio entre los inline-block (los hijos, los `a`)
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo,
		pero de esta manera (siempre que no le demos padding),
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.stars a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 3rem;
	color: #888;
}
.stars:hover a {
	color: rgb(39, 130, 228);
}
.stars > a:hover ~ a {
	color: #888;
}
@media(max-width: 600px){
  #logo{
    width: 90%;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .heigth100{
    height: 75px;
  }
}
