*{
  box-sizing: border-box;
}
.margin5{
  margin:5px;
}
.margin10{
  margin:10px;
}
.margintop10{
margin-top:10px;
}
.margintop25{
  margin-top:25px;
}
.margintopbottom25{
  margin-top:25px;
  margin-bottom:25px;
}
.width100{
  width: 100%;
}
.heigth100{
  height: 100px;
}
.width50{
  width: 50%;
}
.width25{
  width: 25%;
}
.fondoCabecera{
  background: #330000;
}
.fondoItem{
  background: #f5b3b3;
}
.fondoMenu{
  background: #D64937;
}
.textoSalmon{
  color: #D64937;
}
.textoMarron{
  color: #330000;
}
h1{
  color:#330000;
}
.textoBlanco{
  color: white;
}
.boton{
  text-decoration: none;
  background: #D64937;
  color: white;
  font-weight: bold;
}
.boton:hover{
  text-decoration: none;
  background: #330000;
  color: white!important;
}
.boton2:hover{
  text-decoration: none;
  background: #D64937;
  color: white;
  font-weight: bold;
}
.boton2{
  text-decoration: none;
  background: #330000;
  color: white!important;
}
.textoMenu{
  text-decoration: none;
  color:white!important;
  font-size: 18px;
  font-weight: bold;
}
.textoMenu:hover{
  text-decoration: none;
  background: white!important;
  color:#D64937!important;
}
.borde{
    border: 1px solid #330000!important;
    border-radius: 2;
}
#logo{
  margin-left: 50px;
}
.encabezados{
  font-family: cursive;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
.cuadrado{
  padding-bottom:40px;
  box-shadow: 5px 5px 5px gray;
  border: double 3px grey;
}
.cuadrado > h1{
  font-family:cursive;
  font-style:italic;
  text-align: center;
}
.contendor{
  margin:0px;
  padding:0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fichaRes{
  /*display: inline-block;
  width:250px;
  padding: 20px 25px;
  transition: 0.6s;*/

position:relative;
margin:15px 10px;
box-sizing:border-box;
display:inline-block;
text-decoration:none;
border:1px solid #D0D0D0;
box-shadow:0 0 5px #EEE;
padding:10px;
width:200px;
height:320px;
}
.fichaRes:hover{
  background:#FEFEFE;
  transition:.3s;
  box-shadow:0 0 8px #D0D0D0;
  transform:scale(1.02);
  /*box-sizing: border-box;
  background: #ccc;
  border: solid 1px #999;*/
}
.fichaRes:hover *{
  color: rgb(39, 130, 228);
  text-decoration:none;
}
.fichaRes img{
  display:block;
  width:160px;
  height:calc(160px / 0.647);
  margin:auto;
  border:solid 1px #D0D0D0;
}
.ficharRes > .tituloP{
  font-size:120%;
  font-weight: bolder;
  color:#003399;
}
.clear-both{
  clear:both;
}
#fondogris{
  background-color: gray;

}
.trailer{
  width: 90px;
  height: calc(90px / 0.674);
  margin: 5px;
  background-color: red;

}
@media(max-width: 600px){
  #logo{
    width: 90%;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .heigth100{
    height: 75px;
  }
}
